
.friendList {
  display: block;
  width: 300px;
  margin: auto;
}

.item {
  background-color: white;
  box-shadow: 0.5px 0.5px 5px grey;
  list-style-type: none;
  display: grid;
  grid-template-columns: 2fr 5fr 6fr;
  margin: 10px;

  .status {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    background-color: gray;
    border-radius: 50%;
    border: 0.5px solid black;
  }

  .active {
    background-color: yellow;
  }

  .avatar {
    width: 48px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .name {
    font-weight: bold;
    font-size: 1.5rem;
  }

}
